@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.login-card {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 410px;
  height: 560px;
  /* left: 515px;
  top: 165px; */
  padding: 50px auto;

  background: #ffffff;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  /* align-items: center; */
}

.signup-card {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 410px;
  height: 690px;
  /* left: 515px;
    top: 165px; */
  padding: 50px auto;

  background: #ffffff;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  /* align-items: center; */
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 16px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
}

input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 16px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 16px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
}

#form-login {
  /* position: relative; */
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  /* left: -47px;
  top: 5px; */
  /* margin: 0 auto; */
}

#form-signup {
  /* position: relative; */
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  /* left: -47px;
  top: 5px; */
  /* margin: 0 auto; */
}

#form-signup form {
  width: 100%;
}

#form-login a {
  text-align: right;
  color: #4cb654;
  font-weight: 300;
}

#btn-login button {
  width: 100%;
  /* height: 50px; */
  background: rgba(247, 209, 0, 0.45);
  border-radius: 10px;
  margin: 16px 0;
  padding: 10px;
  cursor: pointer;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

#btn-daftar button {
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  margin: 16px 0;
  padding: 10px;
  cursor: pointer;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

#btn-signup button {
  width: 100%;
  background: rgba(247, 209, 0, 0.45);
  border-radius: 10px;
  margin: 16px 0;
  padding: 10px;
  cursor: pointer;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

#btn-kembali button {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

#atau {
  /* width: 365px; */
  height: 25px;
}

.flex {
  display: flex;
  flex-direction: column;
}
