header {
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.div1 {
  width: 69px;
  height: 26px;
  left: 336px;
  top: 52px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.tulisanLogo {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

nav {
  box-sizing: border-box;
  padding: 0;
  background-color: #fcfcfd;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 125px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

.nav_links li {
  display: inline-block;
  padding: Opx 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #f7d100;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  width: 189px;
  height: 44px;

  float: right;
}

button:hover {
  background-color: #f7d100;
  cursor: pointer;
}

.search__container {
  padding-top: 50px;
}

.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
}

.search__input {
  width: 589px;
  padding: 12px 24px;
  float: inline-end;
  height: 30px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: #575756;
  background-color: transparent;
  /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 1% center;
  border-radius: 15px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
  width: 589px;
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.buttonKeranjang {
  vertical-align: center;
  background: url("/assets/Basket.png") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  align-content: center;
  line-height: 20px;
  border-radius: 5px;
}

.buttonListTransaksi {
  vertical-align: center;
  background: url("/assets/PurchaseOrder.png") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  align-content: center;
  line-height: 20px;
  border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;

  background-color: #f1f1f1;
  min-width: 160px;
  min-height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content .item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .item:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
